$primary: #3c3d69;
$dark: $primary;
//$dark: rgb(91, 0, 181);
//$purple: #6f42c1;
//$nav-tabs-link-active-bg: $purple;
//$blue: #007bff !default;
/*$blue: #6f42c1 !default;
$purple: #007bff !default;*/
$headings-font-family: Asap;
$secondary: #7d61a7;
$body-bg: white;
$text-muted: black; //#6c757d;
$body-color: $text-muted;
$border-radius: 0px;

$enable-responsive-font-sizes: true;

//$theme-colors: ( "special": #e01c55 );




$enable-rounded: false;
$enable-shadows: true;
$btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 5px 10px rgba(0, 0, 0, 0.75);
//$enable-gradients: true;

$enable-caret: false;

$pagination-bg:    $primary;
$pagination-color: darken($primary, 20%);

$pagination-border-color: darken($body-bg, 7%);
$pagination-active-bg: $secondary;

$pagination-active-border-color: darken($body-bg, 7%);
$pagination-disabled-bg: darken($body-bg, 3%);
$pagination-disabled-border-color: darken($body-bg, 7%);
$pagination-hover-bg:               $primary;
$pagination-hover-color: darken($primary, 20%);


$list-group-bg: $body-bg;
$list-group-active-bg: $secondary;

